//- home.pug
extends layout.pug

block scripts
  link(rel="stylesheet", href="./styles/index.css")

block content
  section.landing
    .wrap-content
      .landing_view
      .top-three
        .news
        .news
        .news
  section.articles
    article
      .wrap-article
        .content
          .title
          .article
            p 青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
            p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
        figure
    article
      .wrap-article.reverse
        .content
          .title
          .article
            p 青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
            p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
        figure
    .end-view
      .end-word
  section.merchandise
    .wrap-section
      .cards
        .card
          .top
            .label 本日精選
            .heart.far.fa-heart
          .bottom
            .btn-group
              button.name 焦糖馬卡龍
              button.price 450
            button.add-to-cart 加入購物車
        .card
          .top
            .label 本日精選
            .heart.far.fa-heart
          .bottom
            .btn-group
              button.name 焦糖馬卡龍
              button.price 450
            button.add-to-cart 加入購物車
        .card
          .top
            .label 本日精選
            .heart.far.fa-heart
          .bottom
            .btn-group
              button.name 焦糖馬卡龍
              button.price 450
            button.add-to-cart 加入購物車
