//- layout.pug
html
  head
    title FrontEnd Challenge - #{title}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", rel="stylesheet")
    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    block scripts

  body
    header#header
      nav
        .wrap-nav
          ul
            li.brand
              a(href="/index.html", title="index")
                .img-brand-name
            li.menu
              ul.pc
                li.link
                  a(href="/index.html", title="index").class 首頁
                li.link
                  a(href="/sweet.html", title="sweet").class 甜點
                li.link
                  a(href="/login.html", title="login").class 登入
              i.mobile.fas.fa-bars.menu-bar-btn
            li.cart
              a(href="/cart.html", title="title").fas.fa-shopping-cart
    main.main
      block content
    footer#footer
      section.subscribe
        .wrap-section
          .subscribe-title
            img.subscribe-brand(src="./images/logo-light.svg", alt="logo-light.svg")
            p.subscribe-content 訂閱你我的甜蜜郵件
          form.subscribe-form
            i.icon-email.fas.fa-envelope
            input.subscribe-input(type="text")
            input#subscribe-submit(type="submit", value="" hidden)
            label.subscibe-submit.fas.fa-arrow-right(for="subscribe-submit")
      section.contact
        .wrap-section
          img.obj-brand-name(src="./images/logotype-lg-dark.svg", alt="brand-name" srcset="")
          .contact-info_top
            p 07-1234-5678
            p sweetaste@email.com 800
            p 高雄市新興區幸福路 520 號
          .contact-info_bottom
            .media
              img.icon-line(src="./images/ic-line@.svg", alt="icon-line", srcset="")
              img.icon-fb(src="./images/ic-facebook.svg", alt="icon-fb", srcset="")
            p.copy-right © 2018 Sweetaste* All Rights Reserved
          img.obj-sweet-text(src="./images/sm-今天是個吃甜點的好日子.svg", alt="今天是個吃甜點的好日子", srcset="")